body {
  background: black;
}
.card1 {
  background: #0000b2;
  width: 33%;
  height: 60%;
}
.card2 {
  position: relative;
  background: #0000b2;
  width: 33%;
  height: 60%;
  bottom: 80px;
  left: 35%;
}
.card3 {
  position: relative;
  background: #0000b2;
  width: 33%;
  height: 60%;
  bottom: 161px;
  left: 70%;
}
.card4 {
  position: relative;
  background: #0000b2;
  width: 33%;
  height: 60%;
  bottom: 150px;
}
.card5 {
  position: relative;
  background: #0000b2;
  width: 33%;
  height: 60%;
  bottom: 230px;
  left : 35%;
}
.card6 {
  position: relative;
  background: #0000b2;
  width: 33%;
  height: 60%;
  bottom: 310px;
  left : 70%;
}
.card7 {
  position: relative;
  background: #0000b2;
  width: 33%;
  height: 60%;
  bottom: 310px;
  left : 0%;
}
.card8 {
  position: relative;
  background: #0000b2;
  width: 33%;
  height: 60%;
  bottom: 390px;
  left : 35%;
}
h1 {
    text-align: center;
}